[submodule "tree-sitter-elm/c-src"]
	path = tree-sitter-elm/c-src
	url = https://github.com/Razzeee/tree-sitter-elm
[submodule "locate-tests/fixtures/elm-css"]
	path = locate-tests/fixtures/elm-css
	url = https://github.com/rtfeldman/elm-css
